@page "/detalle-casa"
@page "/detalle-casa/{_Id:long}"
@rendermode InteractiveServer

@using ProyectoCasa.Components.General
@using ProyectoCasa.Components.Modal
@using ProyectoCasa.Model.Ahorro
@using ProyectoCasa.Model.Casa


<MudLayout>
    <Menu></Menu>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-10">
            <MudGrid>
                <MudItem xs="12" md="12">
                    @if (esEdicion)
                    {
                        <MudText Align="Align.Center" Typo="Typo.h6">Editando Casa @_Id @_casa.Descripcion 🏠 - 📋</MudText>
                    }
                    else
                    {
                        <MudText Align="Align.Center" Typo="Typo.h6">Casa nueva 🏠</MudText>
                    }
                </MudItem>
                <hr />

                <MudItem xs="12">
                    <MudCard Elevation="1">
                        <MudCardContent>
                            <MudGrid>
                                @* Dividimos los campos en columnas para que no ocupen todo el ancho en PC *@
                                <MudItem xs="12" sm="3">
                                    <MudTextField @bind-Value="_casa.Descripcion"
                                                  Label="Descripción 📋"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense"
                                                  For="@(() => _casa.Descripcion)" />
                                </MudItem>
                                <MudItem xs="12" sm="2">
                                    <MudTextField @bind-Value="_casa.Saldo"
                                                  Label="Saldo Inicial 💸"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense"
                                                  Adornment="Adornment.Start"
                                                  AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                                  For="@(() => _casa.Saldo)"
                                                  ReadOnly="true"/>
                                   
                                </MudItem>
                                <MudItem xs="12" sm="2">
                                    <MudTextField @bind-Value="_casa.Ahorro"
                                                  Label="Ahorro"
                                                  Variant="Variant.Outlined"
                                                  Margin="Margin.Dense"
                                                  Adornment="Adornment.Start"
                                                  AdornmentIcon="@Icons.Material.Filled.Money"
                                                  ReadOnly="true"
                                                  For="@(() => _casa.Ahorro)" />
                                </MudItem>
                                <MudItem xs="12" sm="2">
                                    <MudButton Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               Size="Size.Small"
                                               Class="ml-auto"
                                               OnClick="@(() => GuardarCambiosCab())">Guardar Cambios</MudButton>
                                </MudItem>
                                   
                            </MudGrid>
                        </MudCardContent>
                       
                    </MudCard>
                </MudItem>
      
            </MudGrid>
        </MudContainer>

        <MudContainer Class="pt-10">
            <MudItem xs="12">
                <MudCard Elevation="1">
                    <MudText Typo="Typo.h6">Añadir Detalle</MudText>
                    <MudCardContent>
                        <MudGrid>
                            @* Dividimos los campos en columnas para que no ocupen todo el ancho en PC *@
                            <MudItem xs="12" sm="2">
                                <MudTextField @bind-Value="_det.Descripcion"
                                              Label="Descripción 📋"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Adornment="Adornment.Start"
                                              For="@(() => _det.Descripcion)"
                                              AutoFocus="true"/>
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField @bind-Value="_det.Cantidad"
                                              Label="Cantidad"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.ProductionQuantityLimits"
                                              For="@(() => _det.Cantidad)"/>
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudDatePicker Label="Fecha"
                                               @bind-Date="_det.Fecha"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Editable="true"
                                               Placeholder="Selecciona una fecha" 
                                               For="@(() => _det.Fecha)"/>
                                @* <MudTextField @bind-Value="_det.Fecha"
                                              Label="Fecha"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.DateRange"
                                              For="@(() => _det.Fecha)" /> *@
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           Size="Size.Small"
                                           Class="ml-auto"
                                           OnClick="@(() =>Agregar())">¡Añadir Detalle!</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                   
                </MudCard>
            </MudItem>
        </MudContainer>
        
    </MudMainContent>

    <MudContainer Class="pt-10">
        <MudTabs  Rounded="true" ApplyEffectsToContainer="true" TabPanelsClass="pa-6">
            <MudTabPanel Text="Detalle Casa">
                <MudItem xs="12" md="12">
                    <MudCard>
                        <MudDataGrid T="Mo_Casa_Det"
                                     FixedHeader
                                     Hover
                                     Groupable="false"
                                     Hideable="false"
                                     ShowMenuIcon="true"
                                     Items="@MostrarDetalle()">
                            <Columns>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Id" Title="Id🏴"></PropertyColumn>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Descripcion" Title="Descripcion🏴"></PropertyColumn>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Cantidad" Title="Cantidad🤏"></PropertyColumn>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Fecha" Title="Fecha📅"></PropertyColumn>
                                <TemplateColumn>
                                    <CellTemplate>
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditarDetalleCasa(context.Item))" />
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>
                        </MudDataGrid>
                    </MudCard>
                </MudItem>
            </MudTabPanel>
            <MudTabPanel Text="Detalle Inversión/Ahorro">
               <MudItem xs="12" md="12">
                   <MudStack Row="true", Justify="Justify.FlexEnd">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Small"
                                   Class="ml-auto"
                                   OnClick="@(() =>AgregarAhorro())">¡Añadir Ahorro!</MudButton>
                   </MudStack>
               </MudItem>
               <MudItem xs="12" md="12">
                   <MudCard>
                        <MudDataGrid T="Mo_Ahorro" 
                                     FixedHeader
                                     Hover
                                     Groupable="false"
                                     Hideable="false"
                                     ShowMenuIcon="true"
                                     Items="@MostrarAhorro()">
                            <Columns>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Id" Title="Id 🏴"></PropertyColumn>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Descripcion" Title="Descripcion 🏴"></PropertyColumn>
                                <PropertyColumn CellStyle="white-space: nowrap;"
                                                HeaderStyle="white-space: nowrap;"
                                                Property="c => c.Cantidad" Title="Ahorro 🤏"></PropertyColumn>
                               @*  <TemplateColumn>
                                    <CellTemplate>
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditarDetalleCasa(context.Item))" />
                                    </CellTemplate>
                                </TemplateColumn> *@
                            </Columns>
                       </MudDataGrid>
                   </MudCard>
               </MudItem>
            </MudTabPanel>
        </MudTabs>
    </MudContainer>
</MudLayout>

@*
<div class="container">
   <br />
    <h3>
        @if (esEdicion)
        {
            <h4 class="text-center">Editando Casa @_Id @_casa.Descripcion 🏠 - 📋</h4>
        }
        else
        {
            <h4 class="text-center">Nueva Casa 🏠</h4>
        }
    </h3>

    <!-- CABECERA DE LA PÁGINA -->
    <div class="header-section" style="border: 1px solid #ccc;">
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripción 📋</label>
            <input @bind-value="_casa.Descripcion" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="Dia" class="form-label">Saldo 💸</label>
            <input type="number" @bind-value="_casa.Saldo" class="form-control" readonly />
        </div>
    </div>
    <hr />

    <!-- DETALLE -->
    <div class="detail-input-section" style="background-color: #f9f9f9;">
        <h5>Añadir Detalle </h5>
        <div class="mb-3">
            <input @ref="focusInputDescrip" class="form-control" @bind-value="_det.Descripcion" placeholder="Descripción" required />
        </div>
        <div class="mb-3">
            <label for="Cantidad" class="form-label">
                Cantidad:
                <input class="form-control" type="number" @bind-value="_det.Cantidad" placeholder="Cantidad" required />
            </label>
            <label for="Fecha" class="form-label">
                Fecha:
                <input class="form-control" type="date" @bind-value="_det.Fecha" placeholder="Fecha" required />
            </label>
            <button @onclick="Agregar" id="botonAgregarDetalle" class="btn btn-primary">Añadir y/o Guardar</button>
        </div>
    </div>
  

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id🏴</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad 🤏</th>
                <th scope="col">Fecha 📅</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mo_Casa_Det detCasa in MostrarDetalle())
            {
                <tr @onclick="() => Editar(detCasa)">
                    <th scope="row">@detCasa.Id</th>
                    <td>@detCasa.Descripcion</td>
                    <td>@detCasa.Cantidad</td>
                    <td>@detCasa.Fecha.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

    <Modal_Edicion_Detalle Visible="Visible" DetalleCasa="_DetalleSeleccionado" ValorAntiguo="_ValorAntiguo"  OnClose="CerrarModal"></Modal_Edicion_Detalle>

</div> *@