@page "/casa/Pag_Mo_Casa_Det"
@page "/casa/Pag_Mo_Casa_Det/{_Id:long}"
@rendermode InteractiveServer

@using ProyectoCasa.Components.General
@using ProyectoCasa.Components.Modal
@using ProyectoCasa.Model.Casa

<Menu></Menu>

<div class="container">
    <br />
    <h3>
        @if (esEdicion)
        {
            <h4 class="text-center">Editando Casa @_Id @_casa.Descripcion 🏠 - 📋</h4>
        }
        else
        {
            <h4 class="text-center">Nueva Casa 🏠</h4>
        }
    </h3>

    <!-- CABECERA DE LA PÁGINA -->
    <div class="header-section" style="border: 1px solid #ccc;">
        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripción 📋</label>
            <input @bind-value="_casa.Descripcion" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="Dia" class="form-label">Saldo 💸</label>
            <input type="number" @bind-value="_casa.Saldo" class="form-control" readonly />
        </div>
    </div>
    <hr />

    <!-- DETALLE -->
    <div class="detail-input-section" style="background-color: #f9f9f9;">
        <h5>Añadir Detalle </h5>
        <div class="mb-3">
            <input @ref="focusInputDescrip" class="form-control" @bind-value="_det.Descripcion" placeholder="Descripción" required />
        </div>
        <div class="mb-3">
            <label for="Cantidad" class="form-label">
                Cantidad:
                <input class="form-control" type="number" @bind-value="_det.Cantidad" placeholder="Cantidad" required />
            </label>
            <label for="Fecha" class="form-label">
                Fecha:
                <input class="form-control" type="date" @bind-value="_det.Fecha" placeholder="Fecha" required />
            </label>
            <button @onclick="Agregar" id="botonAgregarDetalle" class="btn btn-primary">Añadir y/o Guardar</button>
        </div>
    </div>
  

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id🏴</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad 🤏</th>
                <th scope="col">Fecha 📅</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mo_Casa_Det detCasa in MostrarDetalle())
            {
                <tr @onclick="() => Editar(detCasa)">
                    <th scope="row">@detCasa.Id</th>
                    <td>@detCasa.Descripcion</td>
                    <td>@detCasa.Cantidad</td>
                    <td>@detCasa.Fecha.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

    <Modal_Edicion_Detalle Visible="Visible" DetalleCasa="_DetalleSeleccionado" ValorAntiguo="_ValorAntiguo"  OnClose="CerrarModal"></Modal_Edicion_Detalle>

</div>