@page "/factura/Mo_Factura_Det"
@page "/factura/Mo_Factura_Det/{_Id:long}"
@using ProyectoCasa.Components.General
@using ProyectoCasa.Components.Modal
@using ProyectoCasa.Model.Casa
@using ProyectoCasa.Model.Factura

@rendermode InteractiveServer



<MudLayout>
    <Menu/>

    <MudMainContent Class="pt-16 mt-4">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid>

                <MudItem xs="12" md="12">
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="NuevaFactura">¡Nueva Factura!</MudButton>
                    </MudButtonGroup>
                </MudItem>

                <MudItem sm="12" md="12">
                @if (!string.IsNullOrWhiteSpace(errorMensaje))
                {
                    <MudAlert  Typo="Typo.subtitle2">@errorMensaje</MudAlert>
                }

                @if (esEdicion)
                {
                    <MudText Align="Align.Center" Typo="Typo.h6">Editando factura @_Id 📝</MudText>
                }
                else
                {
                    <MudText Align="Align.Center"  Typo="Typo.h6">Nueva factura 📝</MudText>
                }
                </MudItem>

               @* -- CABECERA DE LA PÁGINA -- *@
                <MudItem xs="12" md="5">
                    <MudTextField @bind-Value="_facturaCab.Descripcion"
                                  Label="Descripción 📋"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _facturaCab.Descripcion)" />
                    <MudTextField @bind-Value="_facturaCab.Fecha"
                                  Label="Fecha 📅"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _facturaCab.Fecha)" />
                    <MudTextField @bind-Value="_facturaCab.TotalGastado"
                                  Label="Total 💲"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _facturaCab.TotalGastado)"
                                  ReadOnly="true" />
                </MudItem>
                <MudItem xs="12" md="5">
                    <MudStack Class="justify-space-between mud-width-full">
                        <MudSelect @bind-Value="_facturaCab.CasaId" Label="¿A que casa? 🏠">
                            @foreach (Mo_Casa casa in MostrarDatosCasas())
                            {
                                <MudSelectItem Value="casa.Id">@casa.Descripcion</MudSelectItem>
                            }
                        </MudSelect>
                    </MudStack>
                    <MudStack Class="justify-space-between mud-width-full">
                        <MudSelect @bind-Value="_facturaCab.TipoFactura" Label="Tipo de factura 🧾">
                            @foreach (var tipoFact in Enum.GetValues<TipoFactura>().ToList())
                            {
                                <MudSelectItem Value="tipoFact">@tipoFact</MudSelectItem>
                            }
                        </MudSelect>
                    </MudStack>
                    <MudItem Class="pa-mt-10">
                        <MudButton 
                                   Variant="Variant.Outlined" 
                                   sColor="Color.Primary"
                                   EndIcon="@Icons.Material.Filled.Save"
                                   OnClick="GuardarFactura">¡Guardar Factura!</MudButton>
                    </MudItem>
                   
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudTextField @bind-Value="_det.Producto"
                                  Label="Producto 📦"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _det.Producto)" />
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudTextField @bind-Value="_det.Cantidad"
                                  Label="Cantidad 🤏"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _det.Cantidad)" />
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudTextField @bind-Value="_det.Precio"
                                  Label="Precio 💲"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Normal"
                                  For="@(() => _det.Precio)" />
                </MudItem>
               <MudItem xs="12" md="3">
                    <MudButton Variant="Variant.Outlined"
                               sColor="Color.Primary"
                               EndIcon="@Icons.Material.Rounded.ProductionQuantityLimits"
                               OnClick="AgregarDetalle">¡Agregar producto!</MudButton>
                </MudItem>
               

                @* -- ESTRUCTURA DE TABLA -- *@
                <MudItem xs="12" md="12">
                    <MudCard>
                        <MudCardContent>
                            <MudDataGrid Items="@MostrarDetalle()"
                                         T="Mo_Factura_Det"
                                         Hover
                                         Height="300px"
                                         FixedHeader
                                         Groupable
                                         Hideable="false"
                                         ShowMenuIcon="true">
                                         <Columns>
                                               <PropertyColumn Property="x => x.Id" Title="Id 🏴" />
                                               <PropertyColumn Property="x => x.Producto" Title="Producto 📦" />
                                               <PropertyColumn Property="x => x.Precio" Title="Precio 💲" Format="C2" />
                                               <PropertyColumn Property="x => x.Cantidad" Title="Cantidad 🤏" />
                                               <PropertyColumn Property="x => x.Total" Title="Total💲 x Producto" Format="C2">
                                                    <FooterTemplate>
                                                        Total: @context.Items.Sum(x => x.Total).ToString()€
                                                    </FooterTemplate>
                                                </PropertyColumn>

                                                <TemplateColumn>
                                                    <CellTemplate>
                                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@(() => Editar(context.Item))"/>
                                                    </CellTemplate>
                                                </TemplateColumn>
                                         </Columns>
                            </MudDataGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudMainContent>


</MudLayout>


@* <div class="container d-flex justify-content-between">
    <button type="button" @onclick="NuevaFactura" class="btn btn-dark ms-auto">!Nueva Factura!</button>
    <button type="button" @onclick="GuardarFactura" class="btn btn-success">!Guardar Factura!</button>
</div>
<div class="container">
    <br />

    @if (!string.IsNullOrWhiteSpace(errorMensaje))
    {
        <p class="alert alert-danger" role="alert">@errorMensaje</p>
    }

    @if (esEdicion)
    {
        <h4 class="text-center">Editando factura @_Id 📝 </h4>
    }
    else
    {
        <h4 class="text-center">Nueva factura 📝</h4>
    }

    <hr />
        <main>
            <!-- CABECERA DE LA PÁGINA -->
                <div class="header-section">
                    <div class="class=" mb-3">
                        <label for="Descripcion" class="form-label">Descripción </label>
                        <input @bind-value="_facturaCab.Descripcion" class="form-control" />
                    </div>
                    <div class="class=" mb-3">
                        <label for="Fecha" class="form-label">Fecha 📅</label>
                        <input type="date" @bind-value="_facturaCab.Fecha" class="form-control" @value="@DateTime.Today" />

                        <label for="TotalGastado" class="form-label">Total gastado: 💲</label>
                        <input type="number" @bind-value="_facturaCab.TotalGastado" class="form-control" readonly />
                    </div>
                    <div class="mb-10">
                        <label for="Casa" class="form-label">Casa 🏠</label>
                        <select @bind="_facturaCab.CasaId" class="form-select" aria-label="Seleccione la casa">
                        <option value="0">-- Seleccione una casa --</option>
                        @foreach (var casa in MostrarDatosCasas())
                            {
                                <option  value="@casa.Id">@casa.Id - @casa.Descripcion</option>
                            }
                        </select>

                        <label for="TipoFactura" class="form-label">Tipo Factura </label>
                        <select @bind="_facturaCab.TipoFactura" class="form-select" aria-label="Seleccione un tipo de factura">
                            <option value="0">-- Seleccione una tipo --</option>
                            @foreach (var tipoFac in Enum.GetValues<TipoFactura>().ToList())
                            {
                                <option value="@tipoFac">@Enum.GetName(tipoFac)</option>
                            }
                        </select>
                    </div>
                </div>
                <hr />

                <!-- DETALLE DE LA PÁGINA -->
                <div class="detail-input-section" style="background-color: #f9f9f9;">
                    <h5>Añadir Producto 🛒</h5>
                    <div class="mb-3">
                    <input @ref="inputProducto" class="form-control" id="inputProducto" @bind-value="_det.Producto" placeholder="Producto" required />
                    </div>
                    <div class="mb-3">
                        <label for="Cantidad" class="form-label">Cantidad:
                            <input class="form-control" type="number" @bind-value="_det.Cantidad" placeholder="Cantidad" required />
                        </label>
                        <label for="Precio" class="form-label">Precio:
                            <input class="form-control" type="number" @bind-value="_det.Precio" placeholder="Precio" required />
                        </label>
                        <button @onclick="AgregarDetalle" id="botonAgregarDetalle" class="btn btn-primary">Añadir productos</button>
                    </div>
                </div>


            @if (_facturaCab == null)
            {
                return;
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id 🏴󠁳󠁹󠁩󠁤󠁿</th>
                            <th scope="col">Producto 📦</th>
                            <th scope="col">Cantidad 🤏</th>
                            <th scope="col">Precio💲</th>
                            <th scope="col">Total💲 x Producto</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (MostrarDetalle() == null)
                        {
                            return;
                        }
                        @foreach (Mo_Factura_Det detFact in MostrarDetalle())
                        {
                            <tr @onclick="() => Editar(detFact)">
                                <th scope="row">@detFact.Id</th>
                                <td>@detFact.Producto</td>
                                <td>@detFact.Cantidad</td>
                                <td>@detFact.Precio</td>
                                <td>@detFact.Total</td>
                            <button class="btn btn-danger" @onclick="() => Eliminar(detFact)" @onclick:stopPropagation="true">Eliminar</button>
                            </tr>
                        }
                    </tbody>
                </table>
            }
           

            <Modal_Edicion_Detalle></Modal_Edicion_Detalle>
        </main>
</div>
 *@