@page "/factura/Mo_Factura_Cab"
@using Microsoft.AspNetCore.Authorization
@using ProyectoCasa.Components.General
@using ProyectoCasa.Model.Factura
@rendermode InteractiveServer
@attribute [Authorize]

<Menu></Menu>
@* <div class="container">
    <h3>Facturas</h3>
    <hr/>
    <button class="btn btn-primary" @onclick="IrANuevaFactura">¡Nueva Factura!</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id 🏴</th>
                <th>Descripcion</th>
                <th>Fecha 📅</th>
                <th>Casa 🏠</th> 
                <th>Tipo Factura</th>
                <th>Gastado 💲</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mo_Factura_Cab cab in LstFacturasCab)
            {
                <tr @onclick="() => EditarFactura(cab.Id)">
                    <th scope="row">@cab.Id</th>
                    <td>@cab.Descripcion</td>
                    <td>@cab.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@cab.CasaId</td> 
                    <td>@cab.TipoFactura</td>
                    <td>@cab.TotalGastado</td>
                </tr>
            }
        </tbody>
    </table> 
</div> *@

<MudContainer Style="margin-top: 90px;">

    <MudItem xs="12" md="12">
        <MudPaper Class="mx-auto">
            <MudText Class="text-center" Typo="Typo.h6">Facturas</MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" md="6">
        <!-- VARIANT: DEFINE EL ESTILO DEL BOTON-->
        <MudButton 
            Variant="Variant.Filled" 
            EndIcon="@Icons.Material.Filled.Book"
            Color="Color.Primary"
            OnClick="@(()=> IrANuevaFactura())">¿Nueva Factura!</MudButton>
    </MudItem>
    <MudDataGrid Items="@LstFacturasCab"
                 T="Mo_Factura_Cab"
                 Hover
                 Height="500px"
                 FixedHeader
                 Groupable
                 Hideable="false"
                 ShowMenuIcon="true">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Id 🏴" Groupable="false" />
            <PropertyColumn Property="x => x.Descripcion" Groupable="false" />
            <PropertyColumn Property="x => x.Fecha" Title="Fecha 📅" Groupable="true" />
            <PropertyColumn Property="x => x.CasaId" Title="Casa 🏠" />
            <PropertyColumn Property="x => x.TotalGastado" Title="Gastado 💲" Format="C2">
                <FooterTemplate>
                    Total: @context.Items.Sum(x => x.TotalGastado).ToString()
                </FooterTemplate>
            </PropertyColumn>

            <PropertyColumn Property="x => x.TipoFactura" Grouping="true">
                <GroupTemplate>
                    @* <span style="font-weight:bold">
                        Tipo: @context.Grouping.Key
                        <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"> (Total: @context.Grouping.Count()) -> Suma:(@context.Grouping.Sum(x => x.TotalGastado))</MudChip>
                    </span> *@
                    <div class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.Business" Color="Color.Primary" Size="Size.Small" Class="mr-2" />
                        <span style="font-weight:bold">@context.Grouping.Key</span>
                        <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"> Total: (@context.Grouping.Count()) -> Suma:(@context.Grouping.Sum(x => x.TotalGastado))</MudChip>
                    </div>
                </GroupTemplate>
            </PropertyColumn>

            <TemplateColumn>
                <CellTemplate>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditarFactura(context.Item.Id))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>

        @*  <PagerContent>
            <MudDataGridPager T="Mo_Factura_Cab"
                              RowsPerPageString="Filas por página:"
                              InfoFormat="{first_item}-{last_item} de {all_items}"
                              PageSizeOptions="new int[] { 5,10, 25, 50 }" />
        </PagerContent> *@
    </MudDataGrid>
</MudContainer>



